html.nightshift-dark {
  background: #111 !important;
}

html.nightshift-dark body {
  background: #111 !important;
  color: #eee !important;
}

hg
html.nightshift-dark img,
html.nightshift-dark video {
  background-color: transparent !important;
}