html.nightshift-dark {
  background: #111 !important;
}

html.nightshift-dark body {
  background: #111 !important;
  color: #eee !important;
}

html.nightshift-dark * {
  background-color: #111 !important;
  color: #eee !important;
  border-color: #333 !important;
}

html.nightshift-dark img,
html.nightshift-dark video {
  background-color: transparent !important;
}